[submodule "nifti"]
	path = nifti
	url = ./nifti
	datalad-id = 2756a640-a62b-444c-b14f-5b3f1fa2197c
[submodule "mimosa"]
	path = mimosa
	url = ./mimosa
	datalad-id = 8a2ff24c-3828-4339-820e-0ffa7e77f67b
[submodule "simg"]
	path = simg
	url = ./simg
	datalad-id = 454d9e6d-f5fd-4146-8e12-46b981535a82
